.cv-container{   
      margin: 4rem auto auto;
}
.main{    
    display: flex;
    justify-content: center;
}
.profile{
    min-width: 15rem;
}
.profile-image{
    border-radius: 75px;
    margin:1rem;
}
.align-items-left{
    align-items: left;
}
h2,h5{
    text-align: left;
    font-weight: bolder;}
h2{
    margin: 1rem;
}

h5{
    color: darkgreen;
    margin-top: 3rem;
}

li{
    text-align: left;
}
h5{
    color: darkgreen;
    margin-top: 3rem;
}

.resume img
{
    box-shadow: 0px 0px 12px green;
}
.resume img:hover{
    opacity: 100%;
}
.card{
    z-index: 2;
    transition: ease 0.5s;
    box-shadow: 2px 2px 12px green;
}
.card:hover
{
    opacity: 85%;
    transform: scale(1.01);
}



@media screen and(max-width:650px){
    li p{
        font-size: 10px;

    }
 
}


